/* @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600'); */

 body {
  margin: 0;
  background: #3a3a3a;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  height: auto;


}

.container {
  width: 97%;
  margin: 0 auto;


}

header {
  background: #FFFFFF;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  width: 15%;
  float: left;
  padding: 0.2%


}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

nav li {
  display: inline-block;
  margin-right: 40px;
  padding-top: 5%;

  position: relative;
}

nav a {
  color: #000000;
  text-decoration:  none;
  text-transform: uppercase;
  font-size: 1.2vw
}


nav a:hover{
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #ff9600;
  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 200ms;
}

nav a:hover::before {
  width: 100%;


}

.horizontal-line{
  width: 100%;
  height:2px;
  background-color:#3a3a3a;
}

.square-content-box{
  width: 80%;
  height: 700px;
  background-color:#3a3a3a;
}

.homepage{
  width: 100%;
}
.content-wrapper{
  width: 100%;

}

.content-wrapper img{
    width: 100%;

}

.text-wrapper{
  width: 100%;
  position: relative;
  margin-top: -30%;
  text-align: center;
}

.text-wrapper a{

  color: #FFFFFF;
  text-decoration:  none;
  text-transform: uppercase;
  font-size: 2.5vw;
  border: 0.5vw solid #ff9600;
  padding: 0.2%;
  border-radius: 5%;
}

a.navHeading:hover{
  color: #FF9600;
}

p {
  color: #FFFFFF;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.4vw;


  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 1%;
}



.page3 h2{

  color: #FFFFFF;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 2.1vw;


  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 1%;

  text-decoration: underline;
  text-decoration-color: #FF9600;

}

.page2 label{
  display: block;
  color: #FFFFFF;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 1%;
}

.page2 input, textarea {
  display: block;
}


.page2 button {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.page6 p{
  display: block;
  color: #FFFFFF;

  margin-left: 0;
  margin-right: auto;
}



.quiz {
  margin: auto;
width: 60%;
border: 3px solid orange;
padding: 10px;
}

.airport_information {
  margin: auto;
width: 60%;
border: 3px solid orange;
padding: 10px;
}

.page7 h2 {
  color: #FFFFFF;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 2.1vw;


  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 1%;

  text-decoration: underline;
  text-decoration-color: #FF9600;
  text-align: center;
}


.airport_information h1{
  color: #FFFFFF;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 2.1vw;

  text-align: center;
  padding-top: 1%;

  text-decoration: underline;
  text-decoration-color: #FF9600;
}

.airport_information p{
  display: block;
  color: #FFFFFF;

  margin-left: auto;
  margin-right: auto;

  width: 50vw;

}

input[type=text] {
  width : 5vw
}

.radio-toolbar input[type="radio"]:checked ~ * {
    background:pink !important;
}


.page6 h2{

  color: #FFFFFF;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 2.1vw;


  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 1%;

  text-decoration: underline;
  text-decoration-color: #FF9600;

}

.page6 input[type="button"] {
  margin-top: 5%;
}

.infoAircraft{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 98%;

}

.heading{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  padding-top: 3%;
}

.heading2{
  display: block;


  width: 100%;
  padding-top: 0.1%;
  height: 20%;
}

.page5 h2{
  color: #FFFFFF;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 2.5vw;
  padding-left: 1%;

  text-decoration: underline;
  text-decoration-color: #FF9600;

}

/* Print StyleSheet */

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;

  }

  p {
    color: #000000;
  }

  body {
    margin-bottom: 0;
    border: none;
    text-align: center;
  }

   .heading, .heading2, nav ul {
    display: none;
  }

}
